* {
   margin: 0px;
   padding: 0px;
}

/*html{ height: 100%;
    width: 100%; }
*/
body {
    background: #555 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//PwM6YGLAAuCCmpqacC2MRGsHCDAA+fIHfeQbO8kAAAAASUVORK5CYII=);
    font: 13px 'Lucida sans', Arial, Helvetica;
    color: #eee;
    text-align: center;
    height: 99%;
}

a {
    color: #ccc;
}

header{
    position: absolute;
    top:0%;
    width: 100%;
    background-color: rgba(37, 36, 44,0.7);
    text-align: center;
    letter-spacing: 1px;
    padding: 1em;
    font-size: 1.7em;
    color: #c42f2f;
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0%;
    background-color: rgba(37, 36, 44,0.7);
    text-align: center;
    padding: 0.5em;
    font-size: 1.2em;
    color: #E0D9D9;
    line-height: 1.8em;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.space{
    display: inline-block;
    opacity: 0.5;
}

footer small{
    font-weight: normal;
    font-size: 1em;
}
/*-------------------------------------*/

.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}
/*------------Newly added CSS to divide process-------------------------*/
.rm-padding{
    padding: 0;
}

.wrapper{
    overflow:hidden;
    margin-top: 220px;
}
.content{
    margin: auto;
    text-align: center;
    width: 660px;
    position: relative;
    height: 68px;
}

.steps{
    width: 3000px;
    overflow: hidden;
}
.step{
    float: left;
    width: 570px;
    overflow: hidden;
}

/*-------------------------------------*/

.form-wrapper {
    width:660px;
    padding: 15px;
    background: #444;
    background: rgba(0,0,0,.2);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);

}
.form-wrapper th{
    width: 130px;
    font-size: 1.3em;
}

.form-wrapper label{
    width: 100px;
    font-size: 1.2em;
    margin: 0;
    float: left;
    padding: 10px 0px;
}
.form-wrapper input {
    width: 400px;
    height:38px;
    float:left;
    padding: 10px 5px;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    border-bottom: 2px solid #000;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper button{
    position: relative;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 38px;
    width: 119px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover , .next:hover{
    background: #e54040;
}

.form-wrapper button:active,
.form-wrapper button:focus{
    background: #c42f2f;
}

.form-wrapper button:before , .next:before{
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before , {
    border-right-color: #e54040;
}

.form-wrapper button:focus:before{
    border-right-color: #c42f2f;
}

.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

